*{
    margin: 0% auto;
    background-color: #ffffb3;
}

header{
    width: 100%;
    background: #734C29;
}
header h1{
    font-family: "Baskervville SC", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #734C29;
    color: rgb(255, 255, 255);  
    height: 60px; 
    width: 50px;
    font-size: 50px;
}
#tudo{
    padding: 30px;
    justify-content: space-between;
}
.quemsomos {
    height: 50%;
    width: 40%;
}

.fazer{
    height: 50%;
    width: 40%;
}

.fundadores{
    height: 50%;
    width: 40%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.titulo{
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    display: inline-block;
    justify-content: space-evenly;
    padding-right: 10px;
    

}
.titulo::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(15deg, #faf284, #ffef0c );
    position: absolute;
    top: 32px;
    left: 0;
    transition: 0.5s;
}
.titulo:hover::after{
    width: 50px;
}